* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}


.parent-of-header {
    width: 90vw;
    margin: 0 auto;

}

.background-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}

.header-info-parent {
    color: white;
    margin-left: 100px;
    margin-bottom: 30px;
}



.banner-img {
    margin-left: 180px;
    padding-top: 30px;


}

.info-paragraph {
    text-align: justify;
    margin-top: 15px;
}

.watch-live-anchor-parent {
    background-color: red;
    padding: 20px 30px;
    width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 7px;
    margin-top: 20px;
}

.watch-live-anchor {
    text-decoration: none;
    color: white;


}